<h3>Reset your password.</h3>

<p>Hi {{ name }}, below is a link to reset your password. If you did not forget
    it just ignore this email.</p>

<p>Validate token: <a href="{{ url('user_reset_password_form', {'token': token}) }}">{{ token }}</a>.</p>

<p>Thanks!</p>
