{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Arcella is yet another symfony3 based content management system.</p>
        <p>The web is all about publishing and distributing content. Unfortunately most of the time you end up fighting
            against a content management system, rather than enjoying your content. The idea behind Arcella is to
            provide an easy to use environment that allows the user to focus on publishing and distributing their
            content.</p>
        <p><a class="btn btn-primary btn-lg" href="http://github.com/nplhse/arcella/" role="button">Learn more</a></p>
    </div>
{% endblock %}